 main {
    background-color: var(--color-gray-200);

    p {
        flex: 1;
        padding-top: 0.5rem;
    }

    div > img {
        border-radius: 8px;
        width: 19.125rem;
        height: 9.75rem;
        margin: 12px auto 0;
    }

    .box {
        border-radius: 12px;
        width: 20.625rem;
        background-color: var(--color-gray-300);
        padding: 0 12px 17px 12px;
        transition: ease-in-out 0.15s;
    }
    
    .box:hover {
        border: 1.5px solid var(--color-gray-400);
        cursor: pointer;
    }

    h3 {
        margin-top: 4.5rem;
        color: var(--color-red);
    }

    padding-bottom: 9rem;
}