 main {
    background-color: var(--color-gray-200);

    p {
        flex: 1;
        padding-top: 0.5rem;
    }

    div > img {
        border-radius: 8px;
        width: 19.125rem;
        height: 9.75rem;
        margin: 12px auto 0;
    }

    padding-bottom: 9rem;
}

.flex {
    display: flex;
    flex-flow: column wrap;
}

.box {
    border-radius: 12px;
    width: 20.625rem;
    background-color: var(--color-gray-300);
    padding: 0 12px 17px 12px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

h2 {
    color: var(--color-gray-600);
    margin-bottom: 3.5rem;
}

h3 {
    margin-top: 4.5rem;
    color: var(--color-red);
 }

 h4 {
    padding-top: 1.25rem;
 }